.App {
  text-align: center;
}

.form-container {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.form-row-question {
  padding: 20px;
  display: flex;
  align-items: flex-start;
}
